
<!DOCTYPE html>
<html>
<head>

    <title>Главная - Официальный сайт парковочных радаров AUTRIX</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >

    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/forms-min.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/buttons-min.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/superfish.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/scroll_to_top.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="https://autrix.ru/assets/css/style.css">
    <script src="https://autrix.ru/assets/js/jquery.js"></script>
    <script src="https://autrix.ru/assets/js/drupal.js"></script>
    <script src="https://autrix.ru/assets/js/jquery.cycle.all.min.js"></script>
    <script src="https://autrix.ru/assets/js/views_jqfx_cycle.js"></script>
    <script src="https://autrix.ru/assets/js/jquery.fancybox.pack.js"></script>
    <script src="https://autrix.ru/assets/js/scroll_to_top.js"></script>
    <script src="https://autrix.ru/assets/js/script.js"></script>
</head>

<body>
<div id="page-wrapper">
    <div class="bg-top">
        <div id="page">
            <header id="header" role="banner" class="clearfix">
                <div class="section-2 clearfix">
                    <a href="/" id="logo"><p><img src="http://autrix.ru/assets/site/logo_autrix.png"></p></a>
                    <div class="rezhim"><p>
                        Режим работы:<br>
                        ПН.-ЧТ. - 09:00 - 18:00<br>
                        ПТ. - 10:00 - 17:00
                    </p>

                        <p>

                        </p><br></div>
                    <div class="phone"><p>+7 (985)-997-67-68</p></div>
                </div>
                <div class="section-3 clearfix">
                    <div class="region region-menu">
                        <div id="block-superfish-1" class="block block-superfish block-odd">
                            <div class="content">
                                <ul id="superfish-1" class="sf-menu main-menu sf-horizontal ">
                                    <li><a href="https://autrix.ru/" class="active">Главная</a></li>
                                    <li><a href="https://autrix.ru/o-kompanii" >О компании</a></li>
                                    <li><a href="https://autrix.ru/gde-kupit" >Где купить</a></li>
                                    <li><a href="https://autrix.ru/optovikam" >Оптовикам</a></li>
                                </ul>
                            </div><!-- /.content -->
                        </div><!-- /.block -->
                    </div>
                </div>
                <div class="section-4 clearfix">
                    <div class="region region-header">
                        <div id="block-views-slider-block" class="block block-views block-even">
                            <div class="content">
                                <div class="view view-slider view-id-slider view-display-id-block view-dom-id-772cd164106c08c0d2d03c47ec0fbb76">
                                    <div class="view-content">
                                        <div class="view-grouping">
                                            <div class="view-grouping-header"></div>

                                            <div class="view-grouping-content">
                                                <div class="view-grouping">
                                                    <div class="view-grouping-header"></div>

                                                    <div class="view-grouping-content">
                                                        <div class="view-grouping">
                                                            <div class="view-grouping-header"></div>

                                                            <div class="view-grouping-content">
                                                                <div class="view-grouping">
                                                                    <div class="view-grouping-header"></div>

                                                                    <div class="view-grouping-content">
                                                                        <div class="view-grouping">
                                                                            <div class="view-grouping-header"></div>

                                                                            <div class="view-grouping-content">
                                                                                <div class="view-grouping">
                                                                                    <div class="view-grouping-header"></div>

                                                                                    <div class="view-grouping-content">
                                                                                        <div class="view-grouping">
                                                                                            <div class="view-grouping-header"></div>

                                                                                            <div class="view-grouping-content">
                                                                                                <div class="skin-default">
                                                                                                    <div id="views_jqfx_cycle_main_slider-block" class="views_jqfx_cycle_main views jqfx_main">
                                                                                                        <div id="views_jqfx_cycle_teaser_section_slider-block" class="views_jqfx_cycle_teaser_section clearfix">
                                                                                                            <div>
                                                                                                                <div>
                                                                                                                    <div>
                                                                                                                        <div><img src="http://autrix.ru/assets/site/ban1.png" width="589" height="342" alt="" /></div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div>
                                                                                                                <div>
                                                                                                                    <div>
                                                                                                                        <div><img src="http://autrix.ru/assets/site/ban2.jpg" width="589" height="342" alt="" /></div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div>
                                                                                                                <div>
                                                                                                                    <div>
                                                                                                                        <div><img src="http://autrix.ru/assets/site/ban3.jpg" width="589" height="342" alt="" /></div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div class="views-jqfx-controls-bottom clearfix">
                                                                                                        <div class="views_jqfx_cycle_pager  views_jqfx_pager_field" id="views_jqfx_cycle_pager_slider-block">

                                                                                                            <div class="views_jqfx_cycle_div_pager_item views_jqfx_cycle_active_pager_item views-row-odd" id="views_jqfx_cycle_div_pager_item_slider-block_<%= index %>">
                                                                                                                <div class="views-field-field-slide-image">
                                                                                                                    <div class="views-content-field-slide-image"><img src="http://autrix.ru/assets/site/ban1.png" /></div>
                                                                                                                </div>

                                                                                                                <div class="views-field-created">
                                                                                                                    <div class="views-content-created">
                                                                                                                        Autrix
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="views-field-title">
                                                                                                                    <div class="views-content-title">
                                                                                                                        <a href="https://autrix.ru/">Парковочные системы</a>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="views_jqfx_cycle_div_pager_item views_jqfx_cycle_active_pager_item views-row-odd" id="views_jqfx_cycle_div_pager_item_slider-block_<%= index %>">
                                                                                                                <div class="views-field-field-slide-image">
                                                                                                                    <div class="views-content-field-slide-image"><img src="http://autrix.ru/assets/site/ban2.jpg" /></div>
                                                                                                                </div>

                                                                                                                <div class="views-field-created">
                                                                                                                    <div class="views-content-created">
                                                                                                                        Популярная модель
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="views-field-title">
                                                                                                                    <div class="views-content-title">
                                                                                                                        <a href="https://autrix.ru/kontakty">F-716</a>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="views_jqfx_cycle_div_pager_item views_jqfx_cycle_active_pager_item views-row-odd" id="views_jqfx_cycle_div_pager_item_slider-block_<%= index %>">
                                                                                                                <div class="views-field-field-slide-image">
                                                                                                                    <div class="views-content-field-slide-image"><img src="http://autrix.ru/assets/site/ban3.jpg" /></div>
                                                                                                                </div>

                                                                                                                <div class="views-field-created">
                                                                                                                    <div class="views-content-created">
                                                                                                                        Цвета датчиков
                                                                                                                    </div>
                                                                                                                </div>

                                                                                                                <div class="views-field-title">
                                                                                                                    <div class="views-content-title">
                                                                                                                        <a href="https://autrix.ru/kontakty"></a>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.content -->
                        </div><!-- /.block -->
                    </div>
                </div><!-- /.section -->
            </header><!-- /#header -->

            <div id="main-wrapper">
                <div id="main" class="clearfix">
                    <aside id="sidebar-first" class="column sidebar" role="complementary">
                        <div class="section">
                            <div class="region region-sidebar-first">
                                <section id="block-system-navigation" class="block block-system block-menu block-odd">
                                    <h2>Каталог</h2>

                                    <div class="content">
                                        <ul class=" clearfix">
                                            <li><a  href="https://autrix.ru/products/f-257">F-257</a></li>
                                            <li><a  href="https://autrix.ru/products/f-300">F-300</a></li>
                                            <li><a  href="https://autrix.ru/products/f-368">F-368</a></li>
                                            <li><a  href="https://autrix.ru/products/f-588">F-588</a></li>
                                            <li><a  href="https://autrix.ru/products/f-667">F-667</a></li>
                                            <li><a  href="https://autrix.ru/products/f-716">F-716</a></li>
                                            <li><a  href="https://autrix.ru/products/s-600">S-600</a></li>
                                            <li><a  href="https://autrix.ru/products/e-800">E-800</a></li>
                                            <li><a  href="https://autrix.ru/products/tsveta-datchikov">ЦВЕТА ДАТЧИКОВ</a></li>

                                        </ul>
                                    </div>
                                </section>

                                <section id="block-views-latest-articles-block" class="block block-views block-even">
                                    <div class="content">
                                        <p> <br>
                                        </p>
                                    </div><!-- /.content -->
                                </section><!-- /.block -->
                            </div>
                        </div><!-- /.section -->
                    </aside><!-- /#sidebar-first -->
                    <div id="content" class="column" role="main">
                        <div class="section">
                            <article>
                                <h1>Главная</h1>




                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-257">F-257</a></h2>
                                    <a href="https://autrix.ru/products/f-257" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/257_922.jpg"></a>
                                    <p><p>Парковочная система Autrix F-257 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Информация о наличии препятствия, а также о направлении и расстоянии до него выводится на цифровой дисплей со встроенным биппером. Компактные габариты дисплея дают возможность установить прибор абсолютно в любом, наиболее удобном для водителя месте.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-257">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-300">F-300</a></h2>
                                    <a href="https://autrix.ru/products/f-300" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/300_91.jpg"></a>
                                    <p><p>Парковочная система Autrix F-300 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Информация о наличии препятствия, а так же о направлении и расстоянии до него выводится на цифровой дисплей со встроенным биппером. Если водитель не нуждается в звуковом оповещении, то сигнал биппера можно отключать или включать, зависимо от потребностей в каждом конкретном случае. Компактные размеры дисплея позволяют разместить его в любом удобном месте.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-300">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-368">F-368</a></h2>
                                    <a href="https://autrix.ru/products/f-368" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/368_9.jpg"></a>
                                    <p><p>Парковочная система Autrix F-368 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Данная модель комплектуется ультратонким дисплеем, который станет незаметным в салоне вашего автомобиля, но в тоже время он отображает полную информация с помощью LED индикации и звуковых сигналов.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-368">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-588">F-588</a></h2>
                                    <a href="https://autrix.ru/products/f-588" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/588_display.jpg"></a>
                                    <p><p>Парковочная система Autrix F-588 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Модель имеет миниатюрный дизайн дисплея, благодаря этому, его легко незаметно разместить в салоне автомобиля, в то же время на нем используется расширенная индикация, которая позволяет увереннее совершать маневры.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-588">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-667">F-667</a></h2>
                                    <a href="https://autrix.ru/products/f-667" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/667_8.jpg"></a>
                                    <p><p>Парковочная система Autrix F-667 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Информация о наличии препятствия, а также о направлении и расстоянии до него выводится на цифровой дисплей со встроенным биппером.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-667">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/f-716">F-716</a></h2>
                                    <a href="https://autrix.ru/products/f-716" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/716_9.jpg"></a>
                                    <p><p>Парковочная система Autrix F-716 на 4 водонепроницаемых датчика предназначена для установки в задний бампер автомобиля. Информация о наличии препятствия, а также о направлении и расстоянии до него выводится на цифровой дисплей со встроенным биппером. Данная модель пользуется спросом на Российском рынке благодаря современному дизайну дисплея и улучшенному алгоритму работы. Дизайн дисплея является аналогом штатного парковочного радара устанавливаемого в автомобилях Mercedes Е -класса.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/f-716">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/s-600">S-600</a></h2>
                                    <a href="https://autrix.ru/products/s-600" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/S600_3.jpg"></a>
                                    <p><p>Парковочная система Autrix S-600 на 6 водонепроницаемых датчиков предназначена для установки четырех датчиков в задний и двух датчиков в передний бампер автомобиля. Данная система позволяет полностью контролировать процесс парковки. Компактные габариты дисплея дают возможность установить прибор абсолютно в любом, наиболее удобном для водителя месте.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/s-600">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/e-800">E-800</a></h2>
                                    <a href="https://autrix.ru/products/e-800" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/E800_disp.jpg"></a>
                                    <p><p>Парковочная система Autrix Е-800 на 8 водонепроницаемых датчиков предназначена для установки в передний и задний бампер автомобиля. Данная система является новинкой 2013 года, она оснащена компактным и в тоже время информативным дисплеем. Информация о наличии препятствия , а также о направлении и расстоянии до него выводится на цифровой дисплей со встроенным биппером.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/e-800">Подробнее</a></p>
                                </article>
                                <article class="node clearfix">
                                    <h2><a href="https://autrix.ru/products/tsveta-datchikov">ЦВЕТА ДАТЧИКОВ</a></h2>
                                    <a href="https://autrix.ru/products/tsveta-datchikov" class="field-type-image"><img alt="" src="http://autrix.ru/assets/site/_259xAUTO_scale_center-center/sd1.jpg"></a>
                                    <p><p>Широкий ассортимент цветовой гаммы датчиков позволит подобрать наиболее подходящий цвет для вашего автомобиля.</p><p>Для просмотра вариантов нажмите <em>Подробнее</em>.</p></p>
                                    <p class="node-readmore"><a href="https://autrix.ru/products/tsveta-datchikov">Подробнее</a></p>
                                </article>
                            </article>
                        </div><!-- /.section -->
                    </div><!-- /#content -->
                </div><!-- /#main -->
            </div><!-- /#main-wrapper -->

            <footer id="footer" role="contentinfo">
                <div class="footer-wrapper clearfix">
                    <div class="region region-footer">
                        <div id="block-superfish-2" class="block block-superfish block-odd">
                            <div class="content">
                                <ul id="superfish-2" class="sf-menu">
                                    <li><a href="https://autrix.ru/" class="active">Главная</a></li>
                                    <li><a href="https://autrix.ru/o-kompanii" >О компании</a></li>
                                    <li><a href="https://autrix.ru/gde-kupit" >Где купить</a></li>
                                    <li><a href="https://autrix.ru/optovikam" >Оптовикам</a></li>
                                </ul>
                            </div><!-- /.content -->
                        </div><!-- /.block -->
                    </div><!--FOOTER_LINK -->
                </div><!-- /#footer-wrapper -->
            </footer><!-- /#footer -->
        </div><!-- /#page -->
    </div>
</div><!-- /#page-wrapper -->
</body>
</html>
